@mixin coreButton($textColor, $bgColor, $borderColor) {
  font-size: $base-font-size;
  font-family: $secondary-font;
  color: $textColor;
  background-color: $bgColor;
  border: 1px solid $borderColor;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  align-items: flex-start;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  height: auto;
  white-space: normal;
  border-radius: 2px;
  max-width: 20rem;
  font-weight: bold;

  &:hover {
    background-color: darken($bgColor, 10%);
    border: 1px solid darken($bgColor, 10%);
  }
}

// inspired by http://codepen.io/bhongy/pen/EaChf
// @mixin iconButton($icon-value, $icon-size:125%, $vertical-align:-10%, $include-text:false) {
//  line-height: $icon-size;

//  @mixin fontAwesomeIcon($icon-value, $icon-size) {
//    vertical-align: $vertical-align;
//  }

//  @if $include-text {
//    &::before {
//      margin-right: 0.5em;
//    }
//  }
//}

/* --------  Extends Core Buttons  -------- */

%primary-button {
  @include coreButton($white, $primary-button-color, $primary-button-color);
}

%secondary-button {
  @include coreButton($white, $secondary-button-color, $secondary-button-color);
}

%tertiary-button {
  @include coreButton($white, $tertiary-button-color, $tertiary-button-color);
}

%action-button {
  @include coreButton($white, $action-button-color, $action-button-color);
}

%amazon-button {
  @include coreButton($white, $amazon-cta, $amazon-cta);

  padding: 0.6rem 2rem;
  display: list-item;
  max-width: 60%;
  margin: auto;
}

/* --------  Base Button Classes  -------- */

.primary-button {
  @extend %primary-button;
}

.secondary-button {
  @extend %secondary-button;
}

.tertiary-button {
  @extend %tertiary-button;
}

.action-button {
  @extend %action-button;
}

.amazon-button {
  @extend %amazon-button;
}

.naked-button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
  width: auto;
  padding: 0;
  cursor: pointer;
  text-align: inherit;
  align-items: flex-start;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  height: auto;
  white-space: normal;
  border-radius: none;
  max-width: none;
  font-weight: inherit;
  outline: none;

  &:hover,
  &:active {
    background-color: inherit;
    border: none;
    outline: none;
  }
}

/* ----------  Mixins Icon Buttons  --------

@mixin primary-icon-button($fa-icon-value) {
  @extend %primary-button;

  @include iconButton($fa-icon-value);
}

@mixin secondary-icon-button($fa-icon-value) {
  @extend %secondary-button;

  @include iconButton($fa-icon-value);
}

@mixin tertiary-icon-button($fa-icon-value) {
  @extend %tertiary-button;

  @include iconButton($fa-icon-value);
}
 ----------------------------------------- */
