%text-color-link {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

%text-on-dark-link {
  color: $text-on-dark;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
