.affiliate-disclosure-wrapper,
.medical-disclaimer-wrapper {
  @include makeRow($no-padding: true);

  background-color: $tertiary-color;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
}

.affiliate-disclosure-wrapper {
  margin: 0 auto 1rem;
}

.medical-disclaimer-wrapper {
  background-color: $medical-disclaimer-bk-color;
}

.disclosure-img {
  @include makeColumn($size: 2, $offset: 0);
  @include makeColumn(md, $size: 1, $offset: 0);

  padding: 0.25rem;
}

.disclosure-body {
  @include makeColumn($size: 10, $offset: 0);
  @include makeColumn(md, $size: 11, $offset: 0);

  padding: 0.25rem;
}

.disclosure-title {
  margin: 0.25rem 0;
  font-size: 1.05rem;
  color: darken($om-medium-dark-grey, 10%);
}

.disclosure-text {
  margin: 0;
  font-family: $secondary-font;
  font-size: $small-point-size;
  font-weight: bold;
  line-height: 1.25rem;
  color: $om-medium-dark-grey;
}

.disclosure-text a {
  color: $om-medium-dark-grey;
}
