.h1-banner {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include breakpoint($medium) {
    height: 10rem;
  }
}

.h1-banner-img {
  margin: 0;
  display: none;

  @include breakpoint($medium) {
    margin: -500px 0px;
    display: block;
  }
}

.h1-banner-text-wrapper {
  z-index: 100;
  left: 1rem;
  top: 1.5rem;
  margin: auto;
  text-align: left;
  border: 8px solid #f5efd9;
  padding: 1rem;

  @include breakpoint($medium) {
    position: absolute;
    left: 2.5rem;
    top: 1rem;
    width: 65%;
    border: none;
    padding: 0;
  }

  @include breakpoint($large) {
    top: 1.25rem;
    width: 50%;
  }
}

.h1-banner-header {
  margin: 0;
  color: $text-color;

  @include breakpoint($medium) {
    font-size: 3rem;
    color: #fff;
  }
}

.h1-banner-children {
  margin: 0;
  color: $text-color;

  @include breakpoint($medium) {
    color: #fff;
  }
}
