.top-nav {
  background-color: $primary-color;
  padding: 0 0.15rem;
  display: none;

  @include breakpoint(850px) {
    display: block;
  }
}

.top-nav-inner {
  @extend %header-inner-widths;
}

.top-nav-inner .nav {
  margin: 0;
  padding: 0.4rem 0 0.6rem;
}

.menu-sage-top-menu-container .menu-item {
  display: inline;
  text-align: left;
}

.menu-sage-top-menu-container .menu-item a {
  @extend %secondary-font-bold;

  font-size: $small-point-size;
  color: $page-white;
  text-decoration: none;
  padding: 1rem 0.75rem 1rem 1rem;

  &:hover,
  &:focus,
  &:active {
    color: $page-white;
  }
}
