.posts-navigation {
  text-align: center;
  margin: 2rem auto;
}

.nav-previous,
.nav-next {
  margin: 2.5rem auto 0;
}

.nav-previous a,
.nav-next a {
  @extend %secondary-button;

  padding-left: 4.5rem;
  padding-right: 4.5rem;
  font-family: $secondary-font;
  color: $white;
  text-decoration: none;
}
