.sidebar-related-posts-header-wrapper {
  background-color: $om-medium-dark-grey;
  width: 100%;
  text-align: center;
}

.sidebar-related-posts-header {
  color: $white;
  padding: 0.75rem 0;
  margin: 0;
}

.sidebar-related-posts {
  padding: 1.5rem;
}

.sidebar-related-posts a {
  color: $text-color;
}
