#toc_container {
  padding: 1rem 2rem;
}

.toc-toggle-wrapper {
  padding: 0.75rem;
  margin: 1rem 0;
  background-color: #f8f8f8;
  border: 1px solid #aaa;
  width: 12rem;

  a {
    color: $wa-blue;
  }
}

.toc-toggle-text {
  margin: 0;
}

// Using important to override the toc plugin in WP
.no_bullets {
  display: none !important;
}

.toc-visible {
  display: table !important;
}
