.home-page {
  max-width: $site-max-width;
  margin: 0 auto;
}

.action-with-image-box {
  max-width: $site-max-width / 4 * 3;
  margin: 3rem auto;
}

.three-up-preview-section {
  margin: 1rem 0;
}

.footer {
  margin: 3rem 0 0;
}
