.single-body-wrap {
  @include makeRow($no-padding: true);

  max-width: 1240px;
  margin: 0 1rem;

  @include breakpoint($medium) {
    margin: 0 auto;
  }

  .content-wrapper {
    @include makeColumn($size: 12, $offset: 0);
    @include makeColumn(md, $size: 11, $offset: 1);

    padding-top: 0.25rem;
  }

  .content {
    @include makeRow($no-padding: false);

    padding: 1.5rem 0 2rem;
  }

  .main {
    @include makeColumn($size: 12, $offset: 0);
    @include makeColumn(md, $size: 7, $offset: 0);
    @include makeColumn(lg, $size: 8, $offset: 0);
  }

  .entry-content li {
    padding: 0.5rem 0;
  }

  .entry-content-wysiwyg {
    border-bottom: 1px solid $om-medium-grey;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .sidebar-wrapper {
    @include makeColumn($size: 12, $offset: 0);
    @include makeColumn(md, $size: 5, $offset: 0);
    @include makeColumn(lg, $size: 4, $offset: 0);

    margin-top: 2rem;
    padding: 0;

    @include breakpoint($medium) {
      padding: 0 0 0 2rem;
      margin-top: 9rem;
    }
  }

  .entry-meta {
    margin-bottom: 0.75rem;
  }

  .entry-content {
    max-width: $entry-content-max-width;
    overflow: auto;

    @include breakpoint(430px) {
      margin: auto;
    }

    @include breakpoint($medium) {
      margin: 0;
    }

    @include breakpoint($large) {
      margin: 0 auto 0 $entry-content-left-offset;
    }
  }

  .article-header {
    border-bottom: 3px solid $om-light-grey;
    max-width: 650px;

    @include breakpoint(670px) {
      width: 650px;
      margin: auto;
    }

    @include breakpoint($medium) {
      margin: 0;
      width: auto;
    }

    @include breakpoint($large) {
      margin-left: -1.5rem;
    }
  }

  .read-next {
    padding: 2rem 0;
    width: 100%;
    border-bottom: 2px solid #000;
  }

  .read-next-cta {
    @extend %extension-h2;

    margin: 0 0 1rem;
  }
}
