/** global */
$site-max-width: 1240px;
$global-code-background: #272a2b;
$content-max-width: 1200px;
$header-font: $secondary-font;
// box model
$spacer: 2rem;

/** fixed colors */
$black: #000;
$white: #fff;
$page-white: #fffffd;

$om-light-grey: #ececec;
$om-medium-light-grey: rgb(170, 170, 170);
$om-medium-grey: rgb(131, 131, 131);
$om-medium-dark-grey: #757575;
$om-dark-grey: #272a2b;

/** specific brand colors */
$text-color: #222;
$text-on-dark: #f5f5f5;
$link-hover-color: blue;
$amazon-cta: #faa81a;

/** button colors */
$primary-button-color: rgb(0, 53, 0);
$secondary-button-color: rgb(0, 110, 0);
$tertiary-button-color: rgb(0, 175, 0);
$action-button-color: rgb(0, 53, 0);

/** atoms */
$disclosure-title: 1.05rem;
$affiliate-disclosure-bk-color: $om-medium-light-grey;
$medical-disclaimer-bk-color: $om-medium-light-grey;
$placeholder-text-color: $om-medium-dark-grey;
$input-field-height: 30px;

/** molecules */
$email-input-height: 35px;

/** organisms */
$email-mat-bg-color: #2277ca;
$top-nav-bg-color: $om-medium-light-grey;
$sidebar-top-bg-color: $om-medium-light-grey;
$sidebar-border-color: green;

/** Header & Nav */
$header-inner-padding: 0 4rem;
$header-visible-nav-breakpoint: 1248px;
$header-right-visible-breakpoint: 700px;
$header-height: 69px;
$header-inner-padding-small: 0 3px;
$header-inner-padding-medium: 0 2.75rem;
$header-inner-padding-large: 0 7.75rem;
$header-bottom-border: none;
$header-icon-color: #4c4c4c;
$category-nav-link-color: green;
$category-nav-link-hover-color: blue;
$topnav-font-size: 0.85rem;
$primarynav-font-size: 1rem;
$header-inner-padding: 0 4rem;

/** Footer */
$footer-bg-color: $om-dark-grey;
// Logo Size
// Large is 80px;
$footer-medium-break-pt-logo-height: 55px;
// Large is -5px 0;
$footer-medium-break-pt-logo-margins: 6px 0 0;
