/** global */
$site-max-width: 1240px;
$global-code-background: #272a2b;
$content-max-width: 1200px;
$header-font: $secondary-font;
// box model
$spacer: 2rem;

/** fixed colors */
$black: #000;
$white: #fff;
$page-white: #fffffd;

$om-light-grey: #ececec;
$om-medium-light-grey: rgb(170, 170, 170);
$om-medium-grey: rgb(131, 131, 131);
$om-medium-dark-grey: #757575;
$om-dark-grey: #272a2b;

/** specific brand colors */
$text-color: #222;
$text-on-dark: #f5f5f5;
$link-hover-color: blue;
$amazon-cta: #faa81a;

/** button colors */
$primary-button-color: rgb(0, 53, 0);
$secondary-button-color: rgb(0, 110, 0);
$tertiary-button-color: rgb(0, 175, 0);
$action-button-color: rgb(0, 53, 0);

/** disclosures */
$disclosure-title: 1.05rem;
$affiliate-disclosure-bk-color: $om-medium-light-grey;
$medical-disclaimer-bk-color: $om-medium-light-grey;

/** email &input components */
$placeholder-text-color: $om-medium-dark-grey;
$input-field-height: 30px;
$email-input-height: 35px;
$email-mat-bg-color: #2277ca;

/** sidebar */
$sidebar-top-bg-color: $om-medium-light-grey;
$sidebar-border-color: green;

/** header colors */
$top-nav-bg-color: $om-medium-light-grey;
$primary-nav-bg-color: $om-medium-light-grey;
$header-center-bg-color: #deceb2;
$header-center-bottom-border: none;
$header-icon-color: #4c4c4c;
$category-nav-link-color: green;
$category-nav-link-hover-color: blue;

/** header font sizes */
$topnav-font-size: 0.85rem;
$primarynav-font-size: 1rem;

/** header heights */
$header-height: 69px;
$sticky-header-height: 60px;

/** header widths */
$header-sm-max-width: 700px;
$header-md-max-width: 900px;
$header-lg-max-width: $site-max-width;
$header-visible-nav-breakpoint: 1248px;
$header-right-visible-breakpoint: 700px;

/** header logo height (uncomment fitted or blown-out option) */
// fitted:
$header-logo-height: $header-height - 10;
$header-logo-wrapper-margin: auto 0;
// blown-out:
//$header-logo-wrapper-height: $header-height + 15;
//$header-logo-wrapper-margin: -10px 0;

/** footer */
$footer-bg-color: $om-dark-grey;
$footer-logo-height: 80px;
$footer-logo-margin: -5px 0;
