.hero-latest {
  overflow: hidden;
}

.hero-latest .post {
  background-color: $om-light-grey;
}

.hero-latest img {
  width: 500%;
}

.hero-latest h2,
.hero-latest p {
  padding: 0 1.5rem;
}

.featured-article {
  @include makeRow($no-padding: true);

  text-align: center;
}

.hero-latest-img-wrapper {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 8, $offset: 0);

  padding: 0;
}

.hero-latest-excerpt-wrapper {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 4, $offset: 0);

  background-color: $white;
}

.hero-latest-excerpt {
  display: inline-block;
  height: 100%;
  margin: 2rem 0 0;

  @include breakpoint($medium) {
    margin: 3.5rem 0 0;
  }

  @include breakpoint($large) {
    margin: 4rem 0 0;
  }
}

.hero-latest-excerpt .entry-title {
  padding: 0.5rem;
  margin: 0.5rem 0;
  line-height: 1.5rem;

  @include breakpoint($large) {
    padding: 0 1rem;
    margin: 0.9rem 0;
    line-height: 2rem;
  }
}

.hero-latest-excerpt .entry-title a {
  @include breakpoint($medium) {
    font-size: 1.25rem;
  }

  // same font as %homepage-h2
  @include breakpoint($large) {
    font-size: 1.6rem;
  }
}

.hero-latest-tag {
  font-size: $xtra-small-point-size;
  margin: 0 auto;
  padding: 0.4rem;
  width: 5.6rem;
  text-align: center;
  font-family: $primary-font;
  border: 2px solid lighten($wa-blue, 10%);
  font-weight: bold;
}

.hero-post-date {
  font-size: $xtra-small-point-size;
  margin: 0;
  text-align: center;
  font-family: $secondary-font;
  line-height: 1rem;
}

.hero-post-author {
  font-size: $xtra-small-point-size;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: $secondary-font;
  line-height: 1rem;
}
