.front-latest-articles-section {
  @extend %standard-margins;
}

.ul-latest-articles-in-category {
  @include makeRow($no-padding: true);

  margin-bottom: 0.25rem;
}

.latest-articles-in-category {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 4, $offset: 0);

  margin: 0 0 1rem;
}

.latest-articles-in-category-inner {
  padding: 1rem;
  background-color: $white;
  box-shadow: 0 2px 3px 1px $om-medium-grey;
  min-height: 16rem;
}

.home .main .byline {
  background-color: $white;
}

.front-category-section-text-wrapper {
  @include breakpoint($medium) {
    margin: 0 2rem;
  }
}

.front-latest-articles-section .latest-articles-in-category p {
  font-size: $small-point-size;
}

.front-latest-articles-section .front-category-title {
  margin: 1rem 0 0;
  font-style: italic;
  font-weight: bold;
}

.front-latest-articles-section .front-category-description {
  margin: 0.5rem 0 1.5rem;
}

.front-latest-articles-section .front-article-title-wrapper {
  margin: 1rem 0 0.5rem;
}

.front-latest-articles-section .front-article-title {
  color: $text-color;
  font-size: 1.25rem;
}

.front-latest-articles-section .byline {
  margin: 0;
}

.front-category-more {
  margin: 0 auto 1.5rem;
  max-width: 255px;

  @include breakpoint($medium) {
    margin: 0 0 1.5rem auto;
  }
}
