.full-email-block {
  background-color: $primary-color;
  height: 100%;
  padding: 1.25rem 2rem;

  @include breakpoint($medium) {
    padding: 1.2rem;
    box-shadow: 0 2px 3px 1px $om-medium-grey;
  }
}

.full-email-block-form {
  text-align: center;
  margin: 0.5rem 0 0;
}

.full-email-block-engagement-numbers {
  text-align: center;
}

.full-email-block-header {
  color: $white;
  text-align: left;
  font-weight: bold;
  margin: 0 0 0.5rem;
  font-size: 1.15rem;
  font-style: italic;

  @include breakpoint($large) {
    font-size: 1.3rem;
  }
}

.full-email-block-label {
  color: $white;
  font-family: $secondary-font;
  text-align: left;
  font-size: $small-point-size;
}

.full-email-block .email-capture-box {
  width: 95%;
}

.full-email-block .envelope-icon {
  display: none;
}

.full-email-block .email-submit-button {
  margin: 10px 0 0;
}

.full-email-block-privacy-policy {
  color: $white;
  text-align: left;
  text-decoration: underline;
  font-family: $secondary-font;
  font-size: $small-point-size;
  margin: 0.3rem 0 0;
}

.following-number {
  color: $white;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0 0.4rem;
  padding: 1rem 0 0;
  border-top: 1px solid $white;
}

.following-number-description {
  color: $white;
  font-weight: lighter;
  margin: 0;
  font-style: italic;
}
