.sidebar {
  border: 1px solid $sidebar-bg-color;
  font-family: $secondary-font;
  max-width: 300px;
  margin: 0 auto;

  h4 {
    font-size: 1.1rem;
  }

  p {
    font-size: $type2-point-size;
  }
}

.sidebar-top {
  background-color: $sidebar-bg-color;
  padding: 0.5rem;
}
