.footer {
  background-color: $footer-bg-color;
  width: 100%;
}

.footer h3 {
  color: $text-on-dark;
  font-size: 1.1rem;
}

.footer p {
  color: $text-on-dark;
}

// In atoms/links.scss
.footer a {
  @extend %text-on-dark-link;
}

.footer-inner {
  @include makeRow($no-padding: true);
  max-width: $site-max-width;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 3rem;
  font-family: $secondary-font;

  @include breakpoint($large) {
    padding: 2rem 0;
  }
}

.footer-wrapper {
  padding: 0 1.25rem 0 0;
}

.footer-wrapper-1 {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 2, $offset: 0);
  @include makeColumn(lg, $size: 2, $offset: 0);
}

.footer-wrapper-2 {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 3, $offset: 0);
  @include makeColumn(lg, $size: 3, $offset: 0);
}

.footer-wrapper-3 {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 3, $offset: 0);
  @include makeColumn(lg, $size: 3, $offset: 0);
}

.footer-wrapper-4 {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 4, $offset: 0);
  @include makeColumn(lg, $size: 4, $offset: 0);

  margin: 1rem 0;
  border-top: 1px solid $text-on-dark;
  padding: 2rem 0 0;

  @include breakpoint($medium) {
    padding: 0 0 0 2rem;
    margin: 0;
    border-top: none;
    border-left: 1px solid $text-on-dark;
  }
}

.footer-logo {
  height: $footer-logo-height;
  margin: $footer-logo-margin;
}

.legal-line-wrapper {
  background-color: $footer-bg-color;
  width: 100%;
  border-top: 1px solid $text-on-dark;
}

.legal-line-inner {
  max-width: $site-max-width;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 3rem;
}

.legal-line-inner p {
  font-size: $type2-point-size;
}

.legal-line-inner a {
  text-decoration: underline;
}
