.site-header {
  position: relative;
}

// Both HeaderLayered and HeaderTucked use these
.header-organism {
  position: relative;
  background-color: $secondary-color;
  height: $header-height;
  border-bottom: 1px solid $om-medium-grey;
}

.header-inner {
  @extend %header-inner-widths;

  margin: 0 auto;
}

.header-inner a {
  line-height: 62px;
}

.header-right {
  display: none;
  height: $header-height;

  @include breakpoint($header-right-visible-breakpoint) {
    display: block;
    float: right;
  }
}

// Tucked Specific
.tucked {
  .header-organism {
    border-bottom: 1px solid $om-light-grey;
    box-shadow: 0 1px 7px $om-medium-grey;
  }

  .header-inner {
    padding: 0;
    position: relative;
  }

  .header-right {
    @include breakpoint($header-right-visible-breakpoint) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#menu-icon {
  float: left;
  padding: 0 0.5rem;
  font-size: 2.5rem;
  color: $header-icon-color;
  text-decoration: none;

  @include breakpoint($header-visible-nav-breakpoint) {
    display: none;
  }
}

.logo {
  float: left;
  height: 55px;
  margin: 6px 0 0;

  @include breakpoint($medium) {
    max-width: none;
    height: $medium-break-pt-logo-height;
    margin: $medium-break-pt-logo-margins;
  }
}

// Header Email
.site-header .single-input-line {
  display: inline-block;
  margin: 0 1.75rem 0 0;
}

.site-header .email-input-line {
  width: 323px;
}

.site-header .email-capture-box {
  width: 182px;
}

.site-header .email-submit-button {
  width: 94px;
}

// Header Right Icons
.header-right-icons {
  display: inline-block;
}

.header-search {
  width: 160px;
  line-height: $header-height;
}

.fb-icon svg,
.pinterest-icon svg,
.youtube-icon svg,
.search-icon svg {
  color: $header-icon-color;
  font-size: 1.45rem;
  padding: 0 0.5rem;
}

.fb-icon svg {
  padding: 0 0.75rem 0 0;
}

.search-icon svg {
  padding: 0 0 0 0.75rem;
}
