// Both HeaderLayered and HeaderTucked use these
.header-center-wrapper {
  background-color: #deceb2;
  height: $header-height;
  border-bottom: $header-bottom-border;
}

.header-center-inner {
  padding: $header-inner-padding-small;
  display: flex;
  max-width: $site-max-width;
  margin: 0 auto;

  @include breakpoint($medium) {
    padding: $header-inner-padding-medium;
  }

  @include breakpoint($large) {
    padding: $header-inner-padding-large;
  }
}

.site-header-icon {
  color: $header-icon-color;
  font-size: 1.45rem;
  line-height: $header-height;
}

#menu-icon {
  font-size: 2.5rem;
  color: $header-icon-color;
  text-decoration: none;
  line-height: $header-height - 5;
  padding: 0 0.75rem 5px 0;

  @include breakpoint($header-visible-nav-breakpoint) {
    display: none;
  }
}

.logo-wrapper {
  margin: auto 0;
  height: $header-height - 10;
}

.logo {
  max-height: $header-height - 10;
  max-width: 245px;
  margin: auto 0;

  @include breakpoint($medium) {
    max-width: none;
  }
}

// Header Right Items. See W3C's recomended use of
// margin-left: https://www.w3.org/TR/css-flexbox-1/#auto-margins
.header-email-capture-wrapper {
  margin: auto 0;
  margin-left: auto;
  display: none;

  @include breakpoint($header-right-visible-breakpoint) {
    display: block;
  }
}

.header-right-icons {
  display: 0;
  display: none;

  @include breakpoint($header-right-visible-breakpoint) {
    display: flex;
  }
}

.header-right-icons .site-header-icon {
  padding: 0 0.75rem;

  &:last-child {
    padding: 0 0 0 0.75rem;
  }
}

.top-nav-wrapper {
  background-color: gray;
  padding: $header-inner-padding-small;
  display: none;

  @include breakpoint($medium) {
    padding: $header-inner-padding-medium;
  }

  @include breakpoint($large) {
    padding: $header-inner-padding-large;
  }

  @include breakpoint($header-visible-nav-breakpoint) {
    display: block;
  }
}

.primary-nav-wrapper {
  background-color: gray;
  padding: $header-inner-padding-small;

  @include breakpoint($medium) {
    padding: $header-inner-padding-medium;
  }

  @include breakpoint($large) {
    padding: $header-inner-padding-large;
  }
}

.nav-responsive {
  display: none;

  @include breakpoint($header-visible-nav-breakpoint) {
    display: block;
  }
}
