.three-up-preview-section-title {
  font-style: italic;
}

.three-up-preview-section-hr {
  margin: 0 0 0.5rem;
  border: 1px solid $text-color;
}

.three-up-preview-section-description {
  max-width: $content-max-width / 3 * 2;
}

.more-in-category-button {
  margin: 0 auto 1.5rem;

  @include breakpoint($medium) {
    margin: 0 0 1.5rem auto;
  }
}
